
.capacity-main-box{
    padding: 10px 10px 0px 10px;
}



.capacity-box{
    justify-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius:11px;
    padding: 10px 0;
    min-width: 210px;
    align-items: center;
    max-width: 250px;
    background: #ffffff40;
    backdrop-filter: blur(40px);
}

.capacity-content{
    justify-items: center;

}

.capacity-content p{
    font-size: 23px;
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
}

@media(max-width:645px){

    .capacity-title{
        text-align: center;
    }

    .capacity-main-box{
        padding: 0px;
    }
    .capacity-box{
        align-items: center;
        width: 100%;
        min-width: 160px;
        margin: 0 auto;
    }
}


