.section5{
    padding: 20px;
}


.consultants-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.consultants-title h1{
    font-size: 35px;
    font-weight: 600;
}


.two-consultants-arrow{
   align-content: center;
}


.button1 svg{
    justify-self: center;
}

.button2 svg{
    justify-self: center;
}

.button1{
    border: 1px solid #00a0aa;
    margin: 20px;
    gap: 20px;
    background-color: #00a0aa; 
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

.button2{
    border: 1px solid #00a0aa;
    border-radius: 8px;
    background-color: #00a0aa; 
    padding: 5px 13px 5px 13px;
}

.button1:hover{
    cursor: pointer;
    background-color: #076067;
}

.button2:hover{
    cursor: pointer;
    background-color: #076067;
}



.paragraph{
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 20px;
}

.five-doctor-container{
    width: 100%;
    /* overflow: hidden; */
}



.five-doctor-container .slick-list {
  margin: 0 -10px;
}






@media(max-width:645px){

   .section5{
    padding: 15px;
   }

    .consultants-title{
        display: flex;
        flex-direction: column;
    }

    .consultants-title h1{
        margin-bottom: 0px;
    }

    .two-consultants-arrow{
        align-self: flex-end;
    }

    .paragraph{
        text-align: justify;
    }


    .five-doctor-container{
        width: 100%;
        overflow-x: hidden;
    }


}










