.consultants-container{
    padding: 20px;
}

.consultants-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.consultants-title h1{
    font-size: 35px;
    font-weight: 600;
}


.two-consultants-arrow{
   align-content: center;
}


.button1 svg{
    justify-self: center;
}

.button2 svg{
    justify-self: center;
}

.button1{
    border: 1px solid #00a0aa;
    margin: 20px;
    gap: 20px;
    background-color: #00a0aa; 
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

.button2{
    border: 1px solid #00a0aa;
    border-radius: 8px;
    background-color: #00a0aa; 
    padding: 5px 13px 5px 13px;
}

.button1:hover{
    cursor: pointer;
    background-color: #076067;
}

.button2:hover{
    cursor: pointer;
    background-color: #076067;
}



.paragraph{
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 20px;
}

.five-doctor-container{
    display: flex;
    justify-content: space-evenly;
}



/* .first-doctor-container:hover{
    background-color: purple;
    transition: 0.3s;
} */

.first-doctor-container{
    position: relative;
    border: 1px solid;
    padding: 10px;
    /* background-color: grey; */
}

.first-doctor-image{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.first-doctor-image img{
    position: absolute;
    z-index: 20;
}


.social-icons {
  position: absolute;
  z-index: 20;
  top: 30%;
  left: 90%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* transition: all 0.3s ease; */
}

.social-icons a {
  color: blue;
  background-color: #fff;
  padding: 2px;
  border-radius: 15%;
  text-align: center;
  text-decoration: none;
}

.first-doctor-image:hover .social-icons {
  opacity: 1;
  visibility: visible;
}


.first-doctor-info{
    border: 1px solid;
    bottom: 15%;
    right: 20%;
}

.first-doctor-info h4{
    justify-self: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}



.first-doctor-container .doc1-info1{
    font-size: 12px;
    text-align: center;
    margin: 0px;
}

.first-doctor-container .doc1-info2{
    margin-top: 0px;
    font-size: 12px;
    text-align: left;
} 



.first-hover-container1{
    position: absolute;
    width: 70%;
    height: 65%;
    z-index: 15;
    border-radius: 20px;
    border-top-left-radius: 0px;
    top: 32%;
    padding: 20px;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: #dee2e6;
}

.first-hover-container2{
    position: absolute;
    width: 70%;
    height: 70%;
    padding: 20px;
    z-index: 15;
    border-radius: 20px;
    top: 38%;
    left: 42%;
    transform: translate(-50%, -50%);
    background-color: #ced4da;
    clip-path: polygon(0% 0%, 30% 0%, 100% 50%, 100% 99%, 0% 100%);
}






.first-hover-container1:hover{
    border: 1px solid #00a0aa;
}


.first-hover-container2:hover{
    background-color: blue;
}

.first-doctor-image:hover .first-hover-container1 {
  border: 1px solid #00a0aa;
}

.first-doctor-image:hover .first-hover-container2 {
  background-color: blue;
}

.second-doctor-container{
    border: 1px solid;
    padding: 10px;
}

.second-doctor-image{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.second-doctor-info{
    border: 1px solid;
}

.second-doctor-info h4{
    justify-self: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}



.second-doctor-container .doc2-info1{
    font-size: 12px;
    text-align: center;
    margin: 0px;
}

.second-doctor-container .doc2-info2{
    margin-top: 0px;
    font-size: 12px;
} 


.third-doctor-container{
    border: 1px solid;
    padding: 10px;
}


.third-doctor-image{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.third-doctor-info{
    border: 1px solid;
}

.third-doctor-info h4{
    justify-self: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}



.third-doctor-container .doc3-info1{
    font-size: 12px;
    text-align: center;
    margin: 0px;
}

.third-doctor-container .doc3-info2{
    margin-top: 0px;
    font-size: 12px;
} 


.fourth-doctor-container{
    border: 1px solid;
    padding: 10px;
}

.fourth-doctor-image{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.fourth-doctor-info{
    border: 1px solid;
}

.fourth-doctor-info h4{
    justify-self: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}



.fourth-doctor-container .doc4-info1{
    font-size: 12px;
    text-align: center;
    margin: 0px;
}

.fourth-doctor-container .doc4-info2{
    margin-top: 0px;
    font-size: 12px;
} 



.fifth-doctor-container{
    border: 1px solid;
    padding: 10px;
}

.fifth-doctor-image{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.fifth-doctor-info{
    border: 1px solid;
}

.fifth-doctor-info h4{
    justify-self: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}



.fifth-doctor-container .doc5-info1{
    font-size: 12px;
    text-align: center;
    margin: 0px;
}

.fifth-doctor-container .doc5-info2{
    margin-top: 0px;
    font-size: 12px;
}

/* .doctor-overlay .social-icons{
    display: flex;
    flex-direction: column;
} */







