.section6{
    background-color: rgb(86, 113, 223);
    height: 100vh;
}

.department-container{
    /* padding: 0 20px; */
    background-color: #0853c3;
    margin: 0 20px;
    height: 85vh;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.department-title{
    justify-self: center;
    margin-top: 0px;
    padding-top: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}

.department-header, .department-paragraph{
    text-align: center;
    padding: 0 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0px;
}


.five-department-card{
    display: flex;
    padding: 10px;
    padding-top: 0px;
    justify-content: space-around;
}


@media(max-width:645px){

    .section6{
        height: auto;
        overflow: auto;
    }

    .department-paragraph{
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    .department-container{
        height: auto;
    }

   

    .five-department-card{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Hide all except the first card  */
     /* .five-department-card > *:not(:first-child){
        display: none;
    } */
}

@media(width:820px){

    .department-container{
        padding: 10px;
    }
    .department-paragraph{
        padding: 0px;
    }

    .five-department-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
}









