.section1 {
  padding:  40px;
  padding-top: 0px;
  background-color: #fff;
}

.journey-container {
  display: flex;
  gap: 20px;
  align-items: center;
 width: 100%;
  margin: auto;
  height: 100%;
}

.journey-doctor-container {
  width: 45%;
  position: relative;
  padding: 20px;
}

.image-wrapper {
  width: 100%;
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.yellow-container {
  background-color: #ffc567;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  z-index: 1;
}

.floating-image {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  height: 560px;
  object-fit: contain;
}




.same-patient-total-count{
    position: absolute;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    top: 75%;
    z-index: 18; 
}


.same-patient-count{
  display: flex;
  z-index: 18;
  border-radius: 50px;
  background: #b2e1e429;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
    width: 350px;
    gap: 30px;
}

.same-patient-photos{
    align-self: center;
}

.same-patient-photos img{
    width: 50px;
}

.same-total-patients{
    display: flex;
}


.same-total-count-patients{
    justify-items: center;
}


.same-total-count-patients h3{
    margin: 5px;
    font-size: 25px;
    font-weight: 600;
    justify-self: flex-start;
}


.same-total-count-patients p{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}


.same-tick-div{
  z-index: 25;
}

.same-tick-div img{
    position: absolute;
    transform: translateY(-50%);
    /* z-index: 25; */
}

/* Content section */
.journey-content {
  width: 55%;
  padding: 20px;
  padding-top: 60px;
  padding-right: 0px;
  padding-right: 20px;
}

.journey-content h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;

}

.journey-content h4 {
  font-size: 16px;
  font-weight: 400;
  color: #00a0aa;
  /* margin-bottom: 0px; */
}

.journey-content p {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 30px;
}

.discover-button {
    font-size: 16px;
  background-color: #00a0aa;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 15px 20px 15px 20px;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
}

.discover-button:hover {
  background-color: #019d89;
}



@media(max-width:645px){


  .section1{
    padding: 30px 20px;
  }

  .journey-container{
    display: flex;
    flex-direction: column;
  }


  .journey-doctor-container{
    width: 100%;
  }

  .same-patient-total-count{
    width: 100%;
    left: 20px;
  }


  .same-patient-count{
   background-color: #b2e1e429;
    background: transparent;
    backdrop-filter: blur(10px);
    gap: 10px;
  }


  .journey-content{
    width: 100%;
    padding: 20px;
  }
}