.main-nav{
    background-color: #234cbb;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}


.service-content{
    color: #fff;
    margin-left: 5px;
    margin-top: 5px;
    font-family: sans-serif;
}

.three-service-content{
    display: flex;
    margin-right: 30px;
    gap: 50px;
}

.appointment-info{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
    font-family: sans-serif;
    font-size: 14px;
}

.ticketing-info{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
    font-family: sans-serif;
    font-size: 14px;
}

.map-info{
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
    font-family: sans-serif;
}


@media(max-width:645px){
    .main-nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .three-service-content{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

}

@media(min-width:646px) and (max-width:1024px){
    .main-nav{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}