

.nav-wrapper{
    border: 1px solid #fff;
    /* width: 100%; */
    display: flex;
    /* position: fixed; */
}

.nav-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.nav-ham{
    display: flex;
}

.nav-section{
    padding:10px;
    margin-left: 15px;
    align-items: center;
    display: flex;
    gap: 30px;
}


.nav-section a{
    color: #555555;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
}


.nav-section a.active{
    color: #023AA2;
    font-weight: 500;
}

.nav-section a:hover{
    color: #023AA2;

}


.about-us-dropdown{
    position: relative;

}

.nav-button{
    margin: 20px;
}

.nav-button button{
    padding: 10px;
    color: #fff;
    font-size: 16px;
    background-color: #023AA2;
    border: 1px solid #023AA2;
    border-radius: 25px;
}


.hamburger{
    display: none;
}


@media(max-width:645px){
    .nav-content{
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: flex-start;
    }

    .nav-section{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .nav-ham{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .nav-section,
  .nav-button {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-section.show-menu,
  .nav-button.show-menu {
    display: flex;
  }


  
}



@media(min-width:646px) and (max-width:1024px){
    .nav-content{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 15px;
    }


    .nav-ham{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav-section,
  .nav-button {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-section.show-menu,
  .nav-button.show-menu {
    display: flex;
  }

    .hamburger{
        display: block;
        cursor: pointer;
    }
}