.section7{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../assets/images/our-capacity.png);

}




.capacity-title{
    /* justify-self: center; */
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}



.ten-capacity-boxes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

@media(max-width:645px){

    .capacity-container{
        padding: 10px;

    }

    .ten-capacity-boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: inherit;

   
    }
}


@media(min-width:646px) and (max-width:1024px){


    .capacity-title{
        justify-content: center;
    }

    .ten-capacity-boxes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}


