.section10{
    background-image: url(../assets/images/testominialbg.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.testimonial-container{
    padding: 20px;
}

.testimonial-container h3{
    color: #ffffff;
    font-weight: 500;
}
.testimonial-head{
    display: flex;
    justify-content: space-between;
}

.testimonial-head h1{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.testimonial-button{
    align-self: center;

}


.testimonial-button1{
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    border-color: #fff;
}

.testimonial-button2{
    padding: 8px;
    border-radius: 5px;
    border-color: #fff;
}


.testimonial-content{

    width: 70%;
    justify-self: center;
    border: 1px solid #234cbb;
    /* clip-path: polygon(0 68%,0% 100%,23% 100%); */
    /* clip-path: polygon(0 2%, 100% 0%, 100% 100%, 25% 100%, 0 81%); */
    border-radius: 35px;
    padding: 25px;
    margin-bottom: 50px;
    background: linear-gradient(100.44deg,#234cbb 2.88%,#00a0aa 104.18%);
}


.testimonial-content p{
    padding-bottom: 30px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}



.testimonial-doctor-image-container{
    display: flex;
    justify-content: space-between;
}

.testimonial-doctor-image-container img{
    width: 150px;
    height: 150px;
}

.image-content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-content1 h2{
    color: #fff;
}


.quote2-image{
    align-self: center;
}

.quote2-image img{
    width: 75px;
    height: 75px;
}


@media(max-width:645px){


    .testimonial-container{
        padding: 10px;
    }


    .testimonial-head{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .testimonial-head h1{
        font-size: 25px;
    }



    .testimonial-button{
        display: flex;
        gap: 10px;
        align-self: flex-end;
        padding-right: 20px;
    }

    .testimonial-button1{
        margin: 0;
        padding: 8px;
    }

 
    .testimonial-content{
        padding: 10px;
        width: 300px;
    }


    .quote2-image{
        display: none;
    }

    .testimonial-content p{
        font-size: 14px;
        padding: 0px;
    }
        
}




