.section4{
    overflow: hidden;
}

.choose-us-container{
    display: flex;
    flex-direction: column;
    position: relative;
}




.choose-us-title{
    display: flex;
    padding: 20px;
    padding-right: 30px;
    padding-bottom: 0px;
    width: 50%;
    flex-direction: column;
    background-color: #fff;
}

.choose-us-title h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0px;
}

.choose-us-title p{
    text-align: justify;
}


.choose-us-image{
    width: 100%;
    position: absolute;
    right:-3%;
    top: 32.5%;
    padding: 20px;
}

.half-circle{
    width: 680px;
    position: absolute;
    right:3%;
    margin-top: 15px ;
}


.choose-us-content{
    display: flex;
}


.choose-image-wrapper{
    background: linear-gradient(93.57deg,#00a0aa -31.49%,#234cbb 109.77%);
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
}

.quality-content{
    display: grid;
     justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 20px;
    gap: 20px;
    width: 50%;
    padding-right:0px;
}

.quality-content1{
    text-align: center;
    width: 90px;
}

.quality-content1 h4{
    color: #ffffff;
    font-weight: 500;
    margin-top: 0px;
}


.doctor-group{
   position: absolute;
   right: 0.5%;
   width: 650px;
   height: 92%;
   top: 8%;
}





@media(max-width:645px){
    .choose-us-container{
        width: 100%;
    }



    .choose-image-wrapper{
        width: 100%;
        padding: 0px;

    }


    .choose-us-title{
        width: 100%;
    }

 

    .choose-us-image{
        width: 100%;
        padding: 0px;
    }



   .half-circle{
    display: none;
    position: none;
    padding: 0px;
    width: 390px;
    padding-right: 15px;
    padding-top:10px;
    margin: 0px;
   }



    .quality-content{
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .doctor-group{
        display: none;
        width:300px;
        height: 30%;
        top: 31%;
        left: 15%;
    }
}



